body {
  margin: 0;
  background-color: rgba(48, 213, 200, 0.2);
  font-family: 'Roboto', sans-serif;
  color: #2a2a2a;
  // line-height: 1.5;
}

// html {
//   box-sizing: border-box;
//   width: 100vw;
//   overflow-x: hidden;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
